DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=database_name
JWT_SECRET=jvfdjvnfjnvkjdfnjndf9er45t902]3-_+)**^&*(@LpkpokokJHHJPO:KK@L:<@:L           <-- 32 or more random characters long
